
<div class="row">
  <img src="./img/logo.png" class="img-rounded pull-left" title="Instituto Nacional de Eficiencia Energética y Energías Renovables (INER)" alt="Instituto Nacional de Eficiencia Energética y Energías Renovables (INER)">
</div>
<h2 class="text-primary text-right"> Bienvenidos al sistema para la postulación de proyectos del INER</h2>
<hr>

<!--<md-checkbox>OOOOO</md-checkbox>
<md-input placeholder="Character count (100 max)" maxLength="100" class="demo-full-width"
          value="Hello world. How are you?"
          #characterCountHintExample>
  <md-hint align="end">{{characterCountHintExample.characterCount}} / 100</md-hint>
</md-input>-->
<div style="font-size: 20px">
  <blockquote>
    <p class="text-justify row">
      El objetivo es crear una herramienta informática para la postulación y sistematización de las propuestas de proyectos para
      postulación interna, acorde al proceso de postulación interna de proyectos INER.
    </p>
  </blockquote>
  <blockquote>
    <p class="text-justify row">
      Esta herramienta debe facilitar tanto el proceso de postulación como la consolidación de las propuestas para generar reportes
      finales de uso interno o externo.
    </p>
  </blockquote>
</div>